.hidden {
  display: none;
}

body,
header,
form,
label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header,
form,
label,
span {
  margin: 1em;
}

body {
  max-width: 500px;
  margin: 0 auto;
  background: #1e3f66;
  color: white;
  height: 100vh;
}

p,
span,
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  width: 90vw;
  height: 25vh;
}

input {
  width: 90vw;
  height: 3vh;
}

input[type="text"] {
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover,
button:focus {
  background-color: #07c;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

button:active {
  background-color: #0064bd;
  box-shadow: none;
}

button span {
  font-size: 30px;
}

@media screen and (min-width: 600px) {
  textarea {
    width: 50vw;
    height: 25vh;
  }

  input {
    width: 50vw;
    height: 6vh;
  }

  body {
    max-width: 800px;
  }

  p,
  label {
    font-size: 14pt;
  }

  p {
    text-align: left;
  }

  span {
    margin: 0.5em;
  }
}
